body {
    
    background-color: #f2f3f0;
    color: hsl(53, 19%, 26%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5px;
    width: 100%;
    

}

.page {

    width: 100%;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
}

.header {

    width: 100% ;

}




nav {

    background-color: #5fa2a6;
    font-family: serif;
    padding: 10px;
    text-align: center;
    margin: 0px;

}

nav a {

    color: #f2f3f0;
    font-weight: bold;
    margin: 15px;
    text-decoration-line: none;

}

#name {

    font-family: "Gill Sans" ;
    text-shadow: 1.2PX 1.2px black;
    border-block-end: solid 5;
    font-size: 50PX
    
}


.introduce {

    color: rgb(250, 251, 251);
    font-size: 22px;
    background-color: #5fa2a6;
    padding: 20px;
    border: 4px ridge #F2E5B8;
    line-height: 200%;

}

h2 {
    
    border-bottom: 2px solid #5fa2a6;
    font-size: 28px;
    font-family: serif;
    color: rgb(18, 18, 18);

}

p {

    font-size: 20px;
    font-family: Georgia, serif;
    color: rgb(58, 55, 55);
    padding-left: 5px

}

    

footer { 

    background-color: #2f3131;
    font-family: serif;
    padding: 10px;
    text-align: center;
    margin: 0px ;

}

footer a {

    color: #f2f3f0;
    font-weight: bold;
    margin: 15px;
    text-decoration-line: none;

}

