body {
    font-family: Arial, sans-serif;
    color: #222;
    background-color: white;
    line-height: 1.7;
}


/* Navbar */

.navbar {
    padding: 20px 0;
    border-bottom: 1px solid white;
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-link {
    margin-left: 20px;
    font-size: 14px;
}


/* Home */

.home-section {
    margin-top: 30px;
    display: flex;
    align-items: center;
    background-color: white;
}

.home-section h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
}

.home-section h2 {
    text-shadow: 7px 0px 21px rgba(0, 0, 0, 0.47);
    margin-top: 20px;
}

.home-section p {
    font-size: 18px;
    font-family: cursive;
    font-weight: bold;
}

.information {
    border-bottom: 2px solid #5fa2a6;
}

.profile {

    margin-top: 50px;
    width: 300px;
    height: 430px;

}


/* Section */

.section {
    padding: 100px 0;
    background-color: white;
    margin-top: 5px;
}

.section h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}



.skill-box h5 {
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;

}

.skill-item {
    border: 1px solid #625f5f;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #625f5f;
    box-shadow: -2px 11px 33px -5px rgba(0, 0, 0, 0.66);
    border-radius: 30px;
}

.skill-item p {
    margin: 4px;
    padding: 3px;
    color: aliceblue;
}

.skill-item img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.activity-section {
    background-color: white;
}


/* Small Title */

.small-title {
    text-shadow: 7px 0px 21px rgba(0, 0, 0, 0.47);
    font-size: 13px;
    letter-spacing: 3px;
    color: rgb(13, 0, 0);
    font-weight: bold;
}

#work-title, #activity-title {
    border-bottom: 2px solid #5fa2a6;
}

/* images */
.activity-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    margin-top: 20px;
}

.work-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    margin-top: 20px;
}


/* Heading */

h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

h5 {
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}


/* Button */

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    
}


/* Contact */

.contact-section {
    padding: 100px 0;
    background-color: #222;
    color: white;
}

.contact-section h2 {
    font-size: 45px;
    margin: 20px 0;
}

.contact-section .small-title {
    color: #aaa;
}

.email {
    margin-top: 30px;
}


/* Footer */

footer {
    background-color: #111;
    color: #aaa;
    text-align: center;
    padding: 20px;
}

footer a {
    color: white;
    font-weight: bold;
    margin: 15px;
    text-decoration-line: none;
}



/* Responsive */

@media (max-width: 768px) {

    .nav-link {
        margin-left: 5px;
        font-size: 11px;
    }

    .home-section h1 {
        font-size: 42px;
    }

    .section {
        padding: 60px 0;
    }

    .contact-section h2 {
        font-size: 32px;
    }

}